/*Globals variables*/

:root {
	--white: #dfdfdf;
	--black: #202020;
	--dark-blue: #388ef0;
	--blue: rgb(104, 175, 255);
	--dark-gray: #333333;
	--gray: #505050;
	--gutter: 4rem;
}

/*Base*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html {
	font-family: "Roboto";
	font-weight: 500;
	font-size: 10px;
	font-style: normal;
}

body {
	font-family: "Roboto";
	font-weight: 500;
	overflow: hidden;
}

.heading {
	display: flex;
	justify-content: center;
	position: relative;
	width: 1200px;
}

.layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--black);
	opacity: 0.8;
}

.heading .heading_title {
	display: flex;
	position: relative;
	margin-bottom: 8rem;
	font-weight: 400;
	line-height: 1.25;
	flex-direction: column;
	justify-content: center;
	width: auto;
	font-family: "Roboto";
	color: var(--white);
	font-size: 6.4rem;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.heading_button {
	text-decoration: none;
	background-color: rgb(55, 138, 233);
	font-size: 2rem;
	padding: 1rem 2rem;
	border-radius: 3px;
	color: var(--white);
	text-shadow: 0px 0px 4px var(--black);
}

.heading_title_box {
	position: relative;
	animation: fadeIn 1s ease-out, fromLeft 1s ease-out;
}

.heading .heading_separator {
	position: relative;
	width: 3px;
	background-color: var(--white);
	margin: 1.25rem 5rem 0 20rem;
	opacity: 0.9;
	animation: fadeIn 1s ease-out, moveToUp 1s ease-out;
}

.heading .heading_text {
	padding-top: 1rem;
	font-weight: 300;
	font-size: 1.75rem;
	line-height: 1.4;
	text-shadow: 0px 0px 4px #202020;
	width: 400px;
	color: var(--white);
	position: relative;
	animation: fadeIn 1s ease-out, fromRight 1s ease-out;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	left: 0;
	bottom: 0;
	height: 70px;
	width: 100%;
	padding: 0 15rem;
	border-top: 2px solid var(--white);
	z-index: 10;
}

.navbar .navbar_box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.navbar_box .navbar_line {
	position: relative;
	height: 4px;
	width: 100%;
	background-color: var(--blue);

	border-radius: 10px;
}

.navbar_box .navbar_line:not(:last-child) {
	margin-bottom: 10px;
}

.navbar .container {
	justify-content: space-between;
	align-items: center;
}

.navbar .social_box {
	display: flex;
}

.selector__block {
	position: relative;
	left: 48px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
}

.selector__block_item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	border: 2px solid var(--blue);
	border-radius: 50%;
	cursor: not-allowed;
}

.selector__block_item:not(:nth-child(even)) {
	margin-right: 1rem;
}

.selector {
	border: none;
	outline: none;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background-color: var(--white);
	opacity: 0;
	transition: opacity 0.1s ease-out;
	cursor: pointer;
}

.social_box .social_box_item {
	display: flex;
	align-items: center;
	list-style: none;
	font-size: 3rem;
}

.social_box .social_box_item .social_box_link {
	color: var(--blue);
}

.social_box .social_box_item:not(:last-child) {
	margin-right: 2rem;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	left: 0;
	top: 0;
	width: 200vw;
	height: 200vh;
	background-color: var(--black);
}

.img-1,
.img-2,
.img-3,
.img-4 {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	transition: all 0.4s ease-in;
}

.img-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../img/img-1.jpg");
}

.img-2 {
	background-image: url("../img/img-2.jpg");
	display: flex;
	align-items: center;
}

.img-3 {
	background-image: url("../img/img-3.jpg");
	background-position: bottom;
}

.img-4 {
	background-image: url("../img/img-4.jpg");
}

.arrow {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 1px solid var(--white);
	color: var(--white);
	font-size: 4rem;
	font-weight: 100;
}

.arrow:hover {
	cursor: pointer;
}

.arrow-1 {
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translate(-50%, -50%);
}

.arrow-2 {
	position: absolute;
	bottom: 80px;
	right: calc(50% - 48px);
	transform: translate(-30%, -50%) rotateZ(90deg);
}

.arrow-3 {
	position: absolute;
	top: 20px;
	left: calc(50% - 30px);
	transform: rotateZ(-90deg);
}

.arrow-4 {
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translate(50%, -50%) rotateZ(180deg);
}

.sidebar {
	position: fixed;
	left: -25rem;
	top: 0;
	background-color: rgba(20, 20, 20, 0.4);
	width: 25rem;
	height: 100%;
	z-index: 10;
	transition: all 0.4s ease-in;
}
.sidebar__title {
	background-color: rgba(20, 20, 20, 0.9);
	color: var(--white);
	padding: 2rem 0;
	font-size: 3rem;
	font-weight: 400;
	text-align: center;
}

.sidebar__item {
	padding: 2rem 0 2rem 2rem;
}

.sidebar__title,
.sidebar__item {
	border-bottom: 1px solid var(--black);
}

.sidebar__icon {
	color: var(--blue);
}

.sidebar__icon_1 {
	margin-right: 1rem;
}

.sidebar__icon_2 {
	margin-right: 0.75rem;
}

.sidebar__icon_3 {
	margin-right: 0.75rem;
}

.sidebar__icon_4 {
	margin-right: 1.5rem;
}

.sidebar__link {
	font-size: 2.5rem;
	font-weight: 300;
	text-decoration: none;
	color: var(--blue);
}

.card {
	margin-top: -100px;
	width: 350px;
	height: 400px;
	background-color: var(--white);
	box-shadow: 2px 2px 6px 0px var(--black);
	z-index: 20;
	opacity: 0.8;
	transition: transform 0.4s ease, filter 0.4s ease;
}

.card__head {
	width: 100%;
	height: 175px;
	background-repeat: no-repeat;
	background-position-y: bottom;
	background-size: cover;
	background-color: var(--black);
}

.card:not(:last-child) {
	margin-right: var(--gutter);
}

.card__list {
	list-style-type: none;
}

.card__1 .card__head {
	background-image: url("../img/thumbnails/vietnam-thumb.jpg");
}

.card__2 .card__head {
	background-image: url("../img/thumbnails/thailand-thumb.jpg");
}

.card__3 .card__head {
	background-image: url("../img/thumbnails/indonesie-thumb.jpg");
}

.card__4 .card__head {
	background-image: url("../img/thumbnails/singapore-thumb.jpg");
}
.card__title {
	margin: 1rem 0 2rem 0;
	text-align: center;
	color: var(--black);
	font-size: 2.4rem;
	font-weight: 600;
	text-shadow: 2px 2px 2px var(--gray);
}

.card__list_item {
	margin-left: 4rem;
	text-align: left;
	color: var(--dark-gray);
	font-size: 2rem;
	text-shadow: 0px 0px 1px var(--gray);
	font-weight: 300;
}

.card__list_item:not(:last-child) {
	padding-bottom: 1.2rem;
}

.card__list_icon {
	color: var(--dark-blue);
	text-shadow: 2px 2px 2px var(--dark-gray);
}

.card__list_icon-1 {
	margin-left: 2px;
	margin-right: 2rem;
}

.card__list_icon-2 {
	margin-right: 1.6rem;
}

.card__list_icon-3 {
	margin-right: 1rem;
}

.card__list_icon-4 {
	margin-left: 4px;
	margin-right: 2rem;
}

.container:hover > .card {
	transform: scale(0.95);
	filter: blur(4px);
}

.container:hover > .card:hover {
	transform: scale(1.05);
	filter: blur(0);
}

/*Directions*/

.toLeft {
	position: relative;
	left: -100vw;
	transition: all 0.4s ease-out;
}

.toUp {
	position: relative;
	top: -100vh;
	transition: all 0.4s ease-out;
}

.toRight {
	position: relative;
	left: 0;
	transition: all 0.4s ease-out;
}

.toDown {
	position: relative;
	top: 0vh;
	transition: all 0.4s ease-out;
}

/* Fonts */

@font-face {
	font-family: "Roboto";
	font-weight: 100;
	src: url(../fonts/Roboto/Roboto-100.woff2) format("woff2"),
		url(../fonts/Roboto/Roboto-100.woff) format("woff"),
		url(../fonts/Roboto/Roboto-100.ttf) format("ttf"),
		url(../fonts/Roboto/Roboto-100.eot) format("eot");
}

@font-face {
	font-family: "Roboto";
	font-weight: 300;
	src: url(../fonts/Roboto/Roboto-300.woff2) format("woff2"),
		url(../fonts/Roboto/Roboto-300.woff) format("woff"),
		url(../fonts/Roboto/Roboto-300.ttf) format("ttf"),
		url(../fonts/Roboto/Roboto-300.eot) format("eot");
}

@font-face {
	font-family: "Roboto";
	font-weight: 400;
	src: url(../fonts/Roboto/Roboto-400.woff2) format("woff2"),
		url(../fonts/Roboto/Roboto-400.woff) format("woff"),
		url(../fonts/Roboto/Roboto-400.ttf) format("ttf"),
		url(../fonts/Roboto/Roboto-400.eot) format("eot");
}

@font-face {
	font-family: "Roboto";
	font-weight: 500;
	font-style: normal;
	src: url(../fonts/Roboto/Roboto-500.woff2) format("woff2"),
		url(../fonts/Roboto/Roboto-500.woff) format("woff"),
		url(../fonts/Roboto/Roboto-500.ttf) format("ttf"),
		url(../fonts/Roboto/Roboto-500.eot) format("eot");
}

@font-face {
	font-family: "Roboto";
	font-weight: 700;
	src: url(../fonts/Roboto/Roboto-700.woff2) format("woff2"),
		url(../fonts/Roboto/Roboto-700.woff) format("woff"),
		url(../fonts/Roboto/Roboto-700.ttf) format("ttf"),
		url(../fonts/Roboto/Roboto-700.eot) format("eot");
}

@font-face {
	font-family: "Roboto";
	font-weight: 900;
	src: url(../fonts/Roboto/Roboto-900.woff2) format("woff2"),
		url(../fonts/Roboto/Roboto-900.woff) format("woff"),
		url(../fonts/Roboto/Roboto-900.ttf) format("ttf"),
		url(../fonts/Roboto/Roboto-900.eot) format("eot");
}

/* Animations */

@keyframes scaling {
	from {
		background-size: 150%;
	}

	to {
		background-size: 100%;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 0.8;
	}
}

@keyframes fromLeft {
	from {
		left: -20px;
	}

	to {
		left: 0;
	}
}

@keyframes fromRight {
	from {
		right: -20px;
	}

	to {
		right: 0;
	}
}

@keyframes moveToUp {
	from {
		top: 150px;
		height: 5px;
	}

	to {
		top: 0px;
		height: 291.5px;
	}
}

/* Utilities */
.container {
	display: flex;
	width: 1200px;
	margin: 0 auto;
}

/*states*/

.is-scaling {
	animation: scaling ease 1s forwards;
}

.is-current {
	opacity: 1;
}
