:root {
	--white: #dfdfdf;
	--black: #202020;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html {
	font-family: "Roboto";
	font-weight: 500;
	font-size: 10px;
	font-style: normal;
}

body {
	font-family: "Roboto";
	font-weight: 500;
	overflow: hidden;
}

.heading {
	display: flex;
	position: relative;
	width: 1200px;
}

.img-1 .layer {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: var(--black);
	opacity: 0.8;
}

.heading .heading_title {
	display: flex;
	position: relative;
	margin-bottom: 8rem;
	line-height: 1.25;
	flex-direction: column;
	justify-content: center;
	width: auto;
	font-family: "Roboto";
	color: var(--white);
	font-size: 6.4rem;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.heading_button {
	text-decoration: none;
	background-color: rgb(55, 138, 233);
	font-size: 2rem;
	padding: 1rem 2rem;
	border-radius: 3px;
	color: var(--white);
	text-shadow: 0px 0px 4px var(--black);
}

.heading_title_box {
	position: relative;
	animation: fadeIn 1s ease-out, fromLeft 1s ease-out;
}

.heading .heading_separator {
	position: relative;
	width: 3px;
	background-color: var(--white);
	margin: 1.25rem 5rem 0 20rem;
	opacity: 0.9;
	animation: fadeIn 1s ease-out, moveToUp 1s ease-out;
}

.heading .heading_text {
	padding-top: 1rem;
	font-weight: 300;
	font-size: 1.75rem;
	line-height: 1.4;
	text-shadow: 0px 0px 4px #202020;
	width: 400px;
	color: var(--white);
	position: relative;
	animation: fadeIn 1s ease-out, fromRight 1s ease-out;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 0;
	height: 70px;
	width: 100%;
	padding: 0 15rem;
	border-top: 2px solid var(--white);
}

.navbar .navbar_box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.navbar_box .navbar_line {
	position: relative;
	height: 4px;
	width: 100%;
	background-color: var(--white);
	border-radius: 10px;
}

.navbar_box .navbar_line:not(:last-child) {
	margin-bottom: 10px;
}

.navbar .container {
	justify-content: space-between;
}

.navbar .social_box {
	display: flex;
}

.social_box .social_box_item {
	display: flex;
	align-items: center;
	list-style: none;
	font-size: 3rem;
	color: var(--white);
}

.social_box .social_box_item:not(:last-child) {
	margin-right: 2rem;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	left: 0;
	top: 0;
	width: 200vw;
	height: 200vh;
	background-color: var(--black);
}

.img-1,
.img-2,
.img-3,
.img-4 {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
}

.img-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../img/img-1.jpg");
}

.img-2 {
	background-image: url("../img/img-2.jpg");
}

.img-3 {
	background-image: url("../img/img-3.jpg");
}

.img-4 {
	background-image: url("../img/img-4.jpg");
}

.arrow {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 1px solid var(--white);
	color: var(--white);
	font-size: 4rem;
	font-weight: 100;
}

.arrow:hover {
	cursor: pointer;
}

.arrow-1 {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translate(-50%, -50%);
}

.arrow-2 {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%, -50%) rotateZ(90deg);
}

.arrow-3 {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translate(-50%, 50%) rotateZ(-90deg);
}

.arrow-4 {
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translate(50%, -50%) rotateZ(180deg);
}

.toLeft {
	position: relative;
	left: -100vw;
	transition: all 0.4s ease-out;
}

.toUp {
	position: relative;
	top: -100vh;
	transition: all 0.4s ease-out;
}

.toRight {
	position: relative;
	left: 0;
	transition: all 0.4s ease-out;
}

.toDown {
	position: relative;
	top: 0vh;
	transition: all 0.4s ease-out;
}

.is-scaling {
	animation: scaling ease 1s forwards;
	transition: all 0.4s ease;
}

/* Fonts */

@font-face {
	font-family: "Roboto";
	font-weight: 100;
	src: url(../fonts/Roboto/Roboto-100.woff2) format("woff2"),
		url(../fonts/Roboto/Roboto-100.woff) format("woff"),
		url(../fonts/Roboto/Roboto-100.ttf) format("ttf"),
		url(../fonts/Roboto/Roboto-100.eot) format("eot");
}

@font-face {
	font-family: "Roboto";
	font-weight: 300;
	src: url(../fonts/Roboto/Roboto-300.woff2) format("woff2"),
		url(../fonts/Roboto/Roboto-300.woff) format("woff"),
		url(../fonts/Roboto/Roboto-300.ttf) format("ttf"),
		url(../fonts/Roboto/Roboto-300.eot) format("eot");
}

@font-face {
	font-family: "Roboto";
	font-weight: 400;
	src: url(../fonts/Roboto/Roboto-400.woff2) format("woff2"),
		url(../fonts/Roboto/Roboto-400.woff) format("woff"),
		url(../fonts/Roboto/Roboto-400.ttf) format("ttf"),
		url(../fonts/Roboto/Roboto-400.eot) format("eot");
}

@font-face {
	font-family: "Roboto";
	font-weight: 500;
	font-style: normal;
	src: url(../fonts/Roboto/Roboto-500.woff2) format("woff2"),
		url(../fonts/Roboto/Roboto-500.woff) format("woff"),
		url(../fonts/Roboto/Roboto-500.ttf) format("ttf"),
		url(../fonts/Roboto/Roboto-500.eot) format("eot");
}

@font-face {
	font-family: "Roboto";
	font-weight: 700;
	src: url(../fonts/Roboto/Roboto-700.woff2) format("woff2"),
		url(../fonts/Roboto/Roboto-700.woff) format("woff"),
		url(../fonts/Roboto/Roboto-700.ttf) format("ttf"),
		url(../fonts/Roboto/Roboto-700.eot) format("eot");
}

@font-face {
	font-family: "Roboto";
	font-weight: 900;
	src: url(../fonts/Roboto/Roboto-900.woff2) format("woff2"),
		url(../fonts/Roboto/Roboto-900.woff) format("woff"),
		url(../fonts/Roboto/Roboto-900.ttf) format("ttf"),
		url(../fonts/Roboto/Roboto-900.eot) format("eot");
}

/* Animations */

@keyframes scaling {
	from {
		background-size: 200% auto;
	}

	to {
		background-size: 100% auto;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 0.8;
	}
}

@keyframes fromLeft {
	from {
		left: -20px;
	}

	to {
		left: 0;
	}
}

@keyframes fromRight {
	from {
		right: -20px;
	}

	to {
		right: 0;
	}
}

@keyframes moveToUp {
	from {
		top: 150px;
		height: 5px;
	}

	to {
		top: 0px;
		height: 291.5px;
	}
}

/* Utilities */
.container {
	display: flex;
	width: 1200px;
}
